<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>넘블챌린지 - 로그인</title>
    <link rel="stylesheet" th:href="@{/css/sign.css}">
</head>
<body>
  <h1>웹소설 로그인</h1>
  <form method="post" action="/api/sign-in">
      <div class="row">
      <label for="email">이메일</label>
    <input id="email" type="email" name="email">
      </div>
      <div class="row">
      <label for="password">비밀번호</label>
    <input id="password" type="password" name="password">
      </div>
      <p>계정이 없으시다면 <a href="/users/sign-up">회원 가입</a> 하러 가세요.</p>
    <button id="submit">로그인</button>
  </form>
<script>
    const submitbtn = document.getElementById("submit");
    submitbtn.addEventListener("click", function(e) {
        console.dir(e);
    });
</script>
</body>
</html>